<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>competence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

 
        <div class="menumain">
          <div class ='hidden' id="menu1"> <!-- Menu content, hidden by default -->
            <h1>jQuery</h1>
    
          </div>
          <div class ='hidden' id="menu2">
            <h1>Script</h1>
    
          </div>
          <div class ='hidden' id="menu3">
            <h1>Net</h1>
    
          </div>
          <div class ='hidden' id="menu4">
            <h1>CSSSCRIPT.COM</h1>
    
          </div>
          <div class ='hidden' id="menu5">
            <h1>JavaScript</h1>
    
          </div>
          <div class ='hidden' id="menu6">
            <h1>HTML5</h1>
    
          </div>
          <div class ='hidden' id="menu7">
            <h1>CSS/CSS3</h1>
    
          </div>
          <div class ='visible' id="menu8">
            <!-- <h1>Compétence</h1> -->
            <p class="menudesc"></p>
          </div>
          <nav class="menunav">
            <ul class='circle'>
              <li class='coconut light slice'> <!-- Menu labels -->
                <label for='ococonut' class='circle over' id="1">PHP</label>
              </li>
              <li class='vanilla light slice'>
                <label for='ovanilla' class='circle over' id="2">Java</label>
              </li>
              <li class='orange light slice'>
                <label for='oorange' class='circle over' id="3">Angular</label>
              </li>
              <li class='almond light slice'>
                <label for='oalmond' class='circle'><span class="over" id="4">Boostrap</span></label> <!-- Some menu labels have to be flipped with a span -->
              </li>
              <li class='grape light slice'>
                <label for='ogrape' class='circle'><span class="over" id="5">JavaScript</span></label>
              </li>
              <li class='blackberry dark slice'>
                <label for='oblackberry' class='circle' ><span class="over" id="6">HTML5</span></label>
              </li>
              <li class='cherry dark slice'>
                <label for='ocherry' class='circle' ><span class="over" id="7">Symfony</span></label>
              </li>
              <li class='unsel circle'>
                <label for='unsel' class="clicky menuname">Compétence</label>
              </li>
              <li class='middle circle'></li>
            </ul>
          </nav>
        </div>
</ion-content>
