<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <div id="div-avatar" style="margin-left:24px">
    
          <img id="img1" width="150" src="../../assets/imgs/baba.JPG">
    
        </div>
    
        <ion-card-content>
          <ion-card-title>
            Babacar Sylla
          </ion-card-title>
          <p class="para">
            Jeune developpeur Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis fugit consequuntur, nulla
            doloribus reprehenderit fugiat cumque animi non suscipit in quos culpa exercitationem, asperiores ab, nostrum
            ea dignissimos magni! Dolores!
          </p>
        </ion-card-content>
      </ion-card>
    
</ion-content>
